 *{ margin:0; padding: 0;}

.khoi {
    opacity: 0;
}

.ve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.motkhoi {
    position: relative;
}

img.img-flush {
    width: 100%;
}
 body,html{ width: 100%;height: 100% }